*{
    text-decoration:none; 
    list-style:none; 
    margin:0px; 
    padding:0px; 
    outline:none;
}
.grid{
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
display: grid;
grid-template-rows:auto 5fr auto;
grid-template-columns: 1fr;
grid-template-areas: "header"
"main"
"footer";
}

.header{
    grid-area: header;
    background-color:#4e342e; 
    position: sticky;
    width: 100%;
    
}
.main{
    grid-area: main;
  
}
.footer{
    grid-area:footer;
    background-color: #4e342e;
}

.ul{
    display:table; 
    float:right;
    margin-right: 15%;

}
.ul li{
    float:left;
}
.ul li a{
    color:aliceblue;
    font-size:1rem; 
    padding: 1.3em 1em; 
    display:inline-block; 
   /* transition: all 0.5s ease 0s;*/
}
.div2{
    width: 60%;

}
nav{  
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.1%;
    margin-left: 4%;
}
.slider {
    width: 70vw;

    margin: auto;
    overflow: hidden;
    border-radius: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
.slider ul {
    display: flex;
    padding: 0px;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;

  }
  .slider li {
    width: 100%;
    list-style: none;
  }
  .slider img {
    width: 100%;
}  
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

section{
    text-align: center;
}

.ficha{
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
   margin-bottom: 1em;
   margin-top: 1em;
   color: aliceblue;
   font-size: 15px;
}
.ficha2{
    text-align: center;
    color: aliceblue;
}
.mapa{
    width: 30%;
    height: 70px;
}

.ficha1 div p{
    margin-bottom: 5px;
}
.ficha1 div h4{
    margin-bottom: 7px;
    font-size: medium;
    padding-bottom: 2px;
    text-decoration: underline;
}
.container {
    width: 70%;
    justify-content: center;
    align-items: center;

}

.pie-pagina .ficha{
    padding: 15px;
    text-align: center;
}

.ficha1{
    flex: 50%;
    margin: 15px;
    border-radius: 6px;
    display: flex;
    /*flex-direction: column;*/
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    background-color: #63423bbe;

}
.cardtext{
    flex-grow: 1;
    flex-shrink: 1;
    margin: 25px;
    font-size: 20px;
    color: aliceblue;
    width: 30%;
}
.card{
    font-size: 30px;
    color: aliceblue;
}

.ficha2 {
    width: 100%;
    background-color: #3e2723;
    color: aliceblue;
    font-size: 18px;
}

.mapa{
    width: 90%;
    height: 50%;
}