*{
    text-decoration:none; 
    list-style:none; 
    margin:0px; 
    padding:0px; 
    outline:none;
}

body{
    margin:0px; 
    padding:0px; 
    font-family: 'Open Sans', sans-serif;
}
/*section{
    width:100%;
    max-width:1200px; 
    margin:0px auto; 
    display:table; 
    position:relative;
}*/
/*header{
    width:100%; 
    display:table; 
    background-color:#4e342e ; 
    margin-bottom:50px;
}*/


.nav1{
    background-color:#4e342e;
    width: 100%;
    height: 4em;

}

nav{
    width:auto; 
    float:right;
    background-color:#4e342e;
    position: fixed;
}
nav ul{
    display:table; 
    float:right;
    margin-right: 15%;

}
nav ul li{
    float:left;
}
/*nav ul li:last-child{
    padding-right:0px;
}*/
nav ul li a{
    color:aliceblue;
    font-size:1rem; 
    padding: 1.3em 1em; 
    display:inline-block; 
   /* transition: all 0.5s ease 0s;*/
}
nav ul li a:hover{
    background-color:#4e342e; 
    color:#fde428; 
    /*transition: all 0.5s ease 0s;*/
}
nav ul li a:hover i{
    color:#fde428; 
    /*transition: all 0.5s ease 0s;*/
}

.icono {
    width: 1rem;
    height: 1rem;
    /* padding: 70% 10px; */
}


#logo-container{
    margin-left: 15%;
}

/*#logo{
    float:left; 
    font-size:24px; 
    text-transform:uppercase; 
    color:aliceblue; 
    font-weight:600; 
    padding:20px 0px;
}
*/
/* .slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;  
     
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
  
    
    scroll-snap-align: center;
  } */

.slider {
    width: 70%;
    margin: auto;
    overflow: hidden;
  }

.slider ul {
    display: flex;
    padding: 0px;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;

  }

.slider li {
    width: 100%;
    list-style: none;
  }

.slider img {
    width: 100%;
}  

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

footer {
    background-color: #4e342e;
    width: 100%;
}

.container {
    width: 74%;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.ficha{
    display: flex;
    
}

.pie-pagina .ficha{
    padding: 15px;
    text-align: center;
}

.ficha1{
    flex: 50%;
    margin: 15px;
    border-radius: 6px;
    display: flex;
    /*flex-direction: column;*/
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    background-color: #63423bbe;

}
.cardtext{
    flex-grow: 1;
    flex-shrink: 1;
    margin: 25px;
    font-size: 20px;
    color: aliceblue;
    width: 30%;
}
.card{
    font-size: 30px;
    color: aliceblue;
}

.ficha2 {
    width: 100%;
    background-color: #3e2723;
    color: aliceblue;
    font-size: 18px;
}

.mapa{
    width: 90%;
    height: 50%;
}